@{
    ViewData["Title"] = "Home Page";
}

<body class="body bg-primary">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")" class="btn btn-link" style="font-weight: 700; color: #FFFFFF;">Gameplay</a>
    </div>
    <div class="container">
        <form id="schoolCodeForm" method="post" action="Home/SubmitCode" class="school-code-form">
            <div class="form-group">
                <label for="schoolCode" class="form-label">Select School Code to register Candidates:</label>
                <select class="form-control" id="schoolCode" name="schoolCode" required>
                    <option value="">Select your schoolcode</option>
                </select>
            </div>
            <button type="button" id="submitButton" class="btn btn-primary">Enter</button>
        </form>
    </div>

    <div class="right-button">
        <!-- Add a button to navigate to OnboardedCandidates index page -->
        <a href="@Url.Action("Index", "OnboardedCandidates")" class="btn btn-primary">View Onboarded Candidates</a>
    </div>

    <script>
        document.getElementById("submitButton").addEventListener("click", function () {
            var schoolCode = document.getElementById("schoolCode").value;
            var registeredStudents = 10;

            if (schoolCode.trim() === "") {
                alert("Please enter a school code.");
            } else {
                document.getElementById("schoolCodeForm").submit();
            }
        });

        // Fetch school codes from the API
        // Function to fetch and populate school codes
        function populateSchoolCodes() {
            fetch("api/schools/codes")
                .then(response => response.json())
                .then(data => {
                    const select = document.getElementById("schoolCode");
                    data.forEach(code => {
                        const option = document.createElement("option");
                        option.value = code;
                        option.text = code;
                        select.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error("Error fetching school codes: " + error);
                });
        }

        // Populate school codes when the page loads
        populateSchoolCodes();

        // Add this script to show the alert
        var errorMessage = "@ViewData["ErrorMessage"]";
        if (errorMessage) {
            alert(errorMessage);
            window.location.href = "@Url.Action("Index", "Home")";
        }
    </script>
</body>
