table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #0000FF; /* Blue background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Allow vertical alignment */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh;
}
label {
    font-weight: bold;
}
.text-center {
    text-align: center;
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 32px;
    /* identical to box height, or 80% */
    letter-spacing: -0.165px;
    color: #FFFFFF;
    margin-bottom: 40px; /* Add more space below "Gameplay" */
    margin-top: 80px; /* Adjust the margin to bring "Gameplay" down */
}
